body,h1,ul,li,p {
        padding:0;/*内側余白*/
        margin:0;/*外側余白*/
    }

    nav ul {/* nav の中のul */
        display: flex; /*子要素を横並びにする*/
        justify-content: space-around; /*flex-start,flex-end,center,space-between,space-around*/
        }

    nav ul li {
        list-style: none;
        padding:10px 0 0 20px;
    }

    header {
        display:flex;
        justify-content:space-between;/*   */
        background-color:#ffffff;/*背景色*/
        padding:10px 30px 10px 30px;/*上 右 下 左　内側余白*/
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 影の設定: X軸, Y軸, ぼかし, 広がり, 色 */
    }

    h1 {
        color:#1b1a1a;/*文字色*/
    }

    body {
        background-color:#ffffff;
    }

    main {
        width:960px;
        margin:0 auto;/*ブロックを中央揃え*/
        padding:50px 0;/*上下 左右*/
    }


    * {
        box-sizing: border-box; /* 横幅にパディングを含める設定 */
    }

    @media screen and (max-width:486px){
        /*スマホ用の設定*/

        header {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 1000;  /* コンテンツより前面に配置 */
        }

        h1{
            font-size: 22px;
        }
        
        main {
            width: 100%;
            margin: 0 auto; /*ブロックを中央揃え*/
            padding: 50px 20px; /*上下 左右*/
        }
       

    }